<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="opensocial-oauth-filter-demo" version="2.5">

    <filter>
        <filter-name>opensocial-oauth-filter</filter-name>
        <filter-class>org.hidetake.util.oauth.OAuthValidationFilter</filter-class>
        <init-param>
        	<param-name>net.oauth.OAuthAccessor</param-name>
        	<param-value>org.hidetake.util.oauth.provider.MixiOAuthAccessor</param-value>
        </init-param>
        <init-param>
        	<param-name>org.hidetake.util.oauth.ValidationEventListener</param-name>
        	<param-value>org.hidetake.util.oauth.listener.ValidationEventLogger</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>opensocial-oauth-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
